Django==3.2
dj-database-url==0.5.0
environs==9.3.2
djangorestframework==3.13.1
django-debug-toolbar==3.2.1
django-phonenumber-field==6.1.0
requests==2.27.1
phonenumbers==8.12.47
geopy==2.2.0
Pillow==9.2.0
rollbar==0.16.3
psycopg2=2.9.3
